body {overflow-x:hidden;}
.Header-Login img{
    width: 40vh;
    padding-top: 25px;
    padding-left: 35%;
    padding-bottom: 0px;
  }
  h3 {
    padding-top: 0vh;
    margin-top: 0vh;
    margin-bottom: 0vh;
    font-size: 1em;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 0px;
  }
  .notRegistryYet p{
    text-align: center;
  }
  h4 {
    font-family: 'Comfortaa', cursive;
    font-size: 0.9em;
    color: #EB656A;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 35vh; 
  }
  .input-field.col label, .input-field, label {
    width: 100%;
    padding-left: 0vh;
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
    color: #EB656A
  }
  .user-loged {
    font-family: 'Comfortaa', cursive;
    font-size: 1.3em;
    color: #EB656A;
    text-align: center;
  }
  .user-loged h4 {
    font-size: 1em;
    text-align: left;
  }
  .user-loged img {
    width: 20vh;
    display: inline;
    text-align: right;
  }
  .user-loged button {
    font-size: 0.5em;
  }

  .btn-floating {
    font-size: 0.7em;
  }

  @media only screen and (max-width: 450px) {
    .btn-floating {
      font-size: 0.6em;
    }
    .right a {
      font-size: 0.7em;
    }
  }

  @media only screen and (max-width: 320px) {
    .right a {
      padding: 6px;
    }
  }
  @media only screen and (max-width: 550px) {
    .user-loged h3 {
      font-size: 0.9em;
      text-align: center;
      margin: 8px;
      padding: 0px;
    }
    .user-loged h4 {
      font-size: 0.6em;
      text-align: center;
      margin: 8px;
      padding: 0px;
    }
  }
   

.postBody {
  width: 80%;
  margin: 10%
}
.postBody p {
  font-size: 1em;
  text-align: center;
  justify-content: center;
}
.postBody {
  margin-top: 20%;
}

.postBody .allPost {
  background-color: rgb(204, 191, 191);
  padding: 1.5%;
  margin: 0.3%;
}
.PostForm {
  width: 80%;
  margin: 10%;
  background-color: rgb(146, 163, 185);
  font-size: 1.2em;
}

.PostForm input {
  font-size: 1.2em;
  color: rgb(43, 42, 42);
  margin: 10px;
}

@media only screen and (max-width: 425px){
  .postBody p {
    font-size: 0.8em;
  }
  .PostForm {
    font-size: 1em;
  }
  
  .PostForm input {
    font-size: 1em;
  }
}

.postButton {
  background-color: rgb(50, 50, 70);
  color: white;
  border-radius: 8px;
  font-size: 1em;
  float: right;
  padding: 1%;
}
.delete-btn {
  background-color: rgb(134, 103, 128);
  color: white;
  border-radius: 8px;
  font-size: 1.1em;
  float: right;
}